<?xml version="1.0" encoding="UTF-8"?>
<widght xmlns = "http://www.w3.org/ns/widgets"
  xmlns:gap   = "http://phonegap.com/ns/1.0"
  id          = "com.phonegap.helloworld"
  versionCode ="1"
  version     = "1.0">
  <name>Tuition-Hack</name>
  <description>
This is a heat map to show the rising costs of tuition per year by region, state, and school.
Enter the year below to see the expected tuition costs. </description>
<author href="college-tuition-heat-map.azurewebsites.net"
email="vaksg1@tcnj.edu">
Gregory Vaks
</author>
  <gap:platform name="ios" />
  <gap:platform name="android" />
  <gap:platform name="winphone" />
  
  <preference name="phonegap-version" value="cli-5.1.1" />
  <preference name="orientation" value="portrait" />
  <preference name="fullscreen" value="false" />
  <preference name="webviewbounce" value="false" />
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="disallowOverscroll" value="true" />
  <preference name="exit-on-suspend" value="false" />
  <preference name="prerendered-icon" value="false" />
  <preference name="android-minSdkVersion" value="14" />
  <preference name="android-installLocation" value="auto" />
  <preference name="BackgroundColor" value="0xffffffff"/>
  <preference name="KeepRunning" value="true"/>
  
  <icon src="http://imgur.com/ThzJVyu" gap:platform="ios" width="57" height="57" />
  <icon src="http://imgur.com/bpBQCIF" gap:platform="ios" width="72" height="72" />
  <icon src="http://imgur.com/lDwrWNb" gap:platform="ios" width="114" height="114" />
  <icon src="http://imgur.com/0XQ8AfQ" gap:platform="ios" width="144" height="144" />
  <icon src="http://imgur.com/2xFE588" gap:platform="ios" width="76" height="76" />
  <icon src="http://imgur.com/1SEewZT" gap:platform="ios" width="120" height="120" />
  <icon src="http://imgur.com/MeFZfQm" gap:platform="ios" width="152" height="152" />
  
  <icon src="http://imgur.com/JckZsf1" gap:platform="android" gap:density="ldpi" />
  <icon src="http://imgur.com/liZBvHg" gap:platform="android" gap:density="mdpi" />
  <icon src="http://imgur.com/3NXMgzz" gap:platform="android" gap:density="hdpi" />
  <icon src="http://imgur.com/67BaTss" gap:platform="android" gap:density="xhdpi" />
  <icon src="http://imgur.com/cFx9FHc" gap:platform="android" gap:density="xxhdpi" />
  
  <gap:splash src="http://imgur.com/v3Mwkdt" gap:platform="ios" width="320" height="480" />
  <gap:splash src="http://imgur.com/npQekLg" gap:platform="ios" width="480" height="320" />
  <gap:splash src="http://imgur.com/TjL7IPF" gap:platform="ios" width="640" height="960" />
  <gap:splash src="http://imgur.com/XiYe3FB" gap:platform="ios" width="960" height="640" />
  <gap:splash src="http://imgur.com/DA7eyam" gap:platform="ios" width="640" height="1136" />
  <gap:splash src="http://imgur.com/NJaDcJe" gap:platform="ios" width="768" height="1024 " />
  <gap:splash src="http://imgur.com/l3iCJ0s" gap:platform="ios" width="1024" height="768" />
  <gap:splash src="http://imgur.com/NJaDcJe" gap:platform="ios" width="1536" height="2008" />
  <gap:splash src="http://imgur.com/2vmUqbt" gap:platform="ios" width="2048" height="1496" />
  
  <gap:splash src="http://imgur.com/iA5eBDEg" gap:platform="android" gap:density="ldpi" />
  <gap:splash src="http://imgur.com/pyrD4fZ" gap:platform="android" gap:density="mdpi" />
  <gap:splash src="http://imgur.com/8YJG92s" gap:platform="android" gap:density="hdpi" />
  <gap:splash src="http://imgur.com/zvSfp5n" gap:platform="android" gap:density="xhdpi" />
  <gap:splash src="http://imgur.com/cFx9FHc" gap:platform="android" gap:density="xxhdpi" />

  <feature name="http://api.phonegap.com/1.0/camera"/>
  <feature name="http://api.phonegap.com/1.0/file"/>
  <feature name="http://api.phonegap.com/1.0/geolocation"/>
  <feature name="http://api.phonegap.com/1.0/network"/>

  <gap:plugin name="org.apache.cordova.camera"  />
  <gap:plugin name="org.apache.cordova.geolocation"  />
  <gap:plugin name="org.apache.cordova.dialogs"  />
  <gap:plugin name="org.apache.cordova.device"  />
  <gap:plugin name="org.apache.cordova.network-information"  />
  <gap:plugin name="org.apache.cordova.console"  />
  <gap:plugin name="org.apache.cordova.inappbrowser"  />
  <gap:plugin name="org.apache.cordova.network-information"  />
  <gap:plugin name="org.apache.cordova.splashscreen"  />
  <gap:plugin name="com.phonegap.plugins.barcodescanner" />
  
  <access origin="*" subdomains="true" />

</widget>
