
body {
    background-color: black;
}
h1 {
		font-size: 48px;

        color: #ddd;
         }
     
   
h3 {
	color:orange;
	font-size: 48px;
}
p {
	color:#ddd;
	font-size: 14px;
}

#section {
	float: center;
	text-align:center;
	padding: 10px;
}
#footer {
    height: 30px;
    float: center;
	text-align:left;
}

#footer p {
	font-size:8px;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
    #footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}
 
#nav {
	
}
input {
  width: 375px;
  height: 25px;
}

.burn {

	color:#A41623;
}

.learn {

	color:#E8DE2A;
}
.title {
	color:;
}
